.tepedeki-yazi {
   background-color: yellow; 
   color: red; 
   font-size: 36px; 
   font-weight: bold;
}
.first-div {
    background-color: aqua;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-color: bisque;
}